:root {
    --cat1: #f5e0dc;
    --cat2: #f2cdcd;
    --cat3: #f5c2e7;
    --cat4: #A;
    --cat5: #f38ba8;
    --cat6: #eba0ac;
    --cat7: #fab387;
    --cat8: #f9e2af;
    --cat9: #a6e3a1;
    --cat10: #94e2d5;
    --cat11: #89dceb;
    --cat12: #74c7ec;
    --cat13: #89b4fa;
    --cat14: #b4befe;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: #1E1E2E;
}
