@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Italic.woff2) format('woff2');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-BoldItalic.woff2) format('woff2');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'Crazy Killer';
    src: url(resources/fonts/CRAZK___.TTF) format('truetype');
}
@font-face {
    font-family: 'Grunge';
    src: url(resources/fonts/GRUNGE.TTF) format('truetype');
}
@font-face {
    font-family: 'I Know a Ghost';
    src: url(resources/fonts/iknowaghost.ttf) format('truetype');
}
@font-face {
    font-family: 'Slender';
    src: url(resources/fonts/newSlendermanswriting.ttf) format(truetype);
}

:root {
    --cat1: #f5e0dc;
    --cat2: #f2cdcd;
    --cat3: #f5c2e7;
    --cat4: #A6E3A1;
    --cat5: #f38ba8;
    --cat6: #eba0ac;
    --cat7: #fab387;
    --cat8: #f9e2af;
    --cat9: #a6e3a1;
    --cat10: #94e2d5;
    --cat11: #89dceb;
    --cat12: #74c7ec;
    --cat13: #89b4fa;
    --cat14: #b4befe;
    --shad1: #CDD6F4;
    --shad2: #BAC2DE;
    --shad3: #A6ADC8;
    --shad4: #9399B2;
    --shad5: #7F849C;
    --shad6: #6C7086;
    --shad7: #585B70;
    --shad8: #45475A;
    --shad9: #313244;
    --shad10: #1E1E2E;
    --shad11: #181825;
    --shad12: #11111B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Victor Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--shad10);
    height: 100vh;
    /* background-color: #1E1E2E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%239399B2' stroke-width='66.9' stroke-opacity='0.19' %3E%3Ccircle fill='%231E1E2E' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23222233' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23262738' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232b2b3c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232f3041' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23333446' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2338394b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%233c3e50' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23414355' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2346475b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%234a4c60' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%234f5165' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2354566b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23585b70' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%235d6075' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2362667b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23676b80' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%236C7086' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E"); background by www.svgbackgrounds.com */
    /* background-attachment: fixed;
    background-size: cover; */
}

body::before {
    content:'';
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border-radius: 40px;
    background-color: #73738b;
}

body::after {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    background-image: url(resources/images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.head {
    height: 100vh;
    /* background-color: black; */
    position: relative;
    cursor: pointer; 
    transition: 0.2s;
    mix-blend-mode: multiply;
} 

.glow {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(255 255 255 / 0.46), transparent 60%);
}