@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}



/* ----------- header ----------- */

header {
    position: relative;
    height: 100%;
}

header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(images/home-house.jpg), linear-gradient(grey, grey);
    background-size: cover;
    background-blend-mode: multiply;
}

header > * {
    position: inherit;
}

.logo {
    font-family: 'Megrim', cursive;
}