@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}



/* ----------- header ----------- */

header {
    height: 100%;
    background-image: url(images/home-house.jpg);
    background-size: cover;
    background-color: hsla(217, 68%, 7%, 0.918);
    background-blend-mode: multiply;
    filter: grayscale(80%);
}

nav {
    
}

.logo {
    font-family: 'Megrim', cursive;
}